<%- include("partials/header") %>

<main>
	<%- include("partials/about-page/about-heading") %>
	<%- include('partials/about-page/about-virtues') %>
	<%- include('partials/about-page/about-author') %>
</main>

<%- include("partials/footer") %>